* {
    box-sizing: border-box;
}

body {
    font-family: 'Monas Regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    text-align: center;
    align-items: center;
}

h1 {
    font-family: 'Poetsen One', sans-serif;
    font-size: 3em;
    margin: 20px 0;
    color: #f5f8f8;
    text-shadow: 
    -2px -2px 0 #333,  
    2px -2px 0 #333,
    -2px 2px 0 #333,
    2px 2px 0 #333,
    -2px 0 0 #333,
    2px 0 0 #333,
    0 -2px 0 #333,
    0 2px 0 #333;
}

h2 {
    font-family: 'Poetsen One', sans-serif;
    font-size: 1.5em;
    margin: 10px;
    color: hwb(180 88% 7%);
    text-shadow: 
    -2px -2px 0 #333,  
    2px -2px 0 #333,
    -2px 2px 0 #333,
    2px 2px 0 #333,
    -2px 0 0 #333,
    2px 0 0 #333,
    0 -2px 0 #333,
    0 2px 0 #333;
    display: inline-block;
}

h2 span {
    color: #929394;
    text-shadow: 
    -2px -2px 0 #333,  
    2px -2px 0 #333,
    -2px 2px 0 #333,
    2px 2px 0 #333,
    -2px 0 0 #333,
    2px 0 0 #333,
    0 -2px 0 #333,
    0 2px 0 #333;
    border-color: #07080a;
}

.user-info input {
    padding: 10px;
    border-radius: 50px;
    border: 2.5px solid #6d6d6e;
    background-color: #333;
    color: #e0e0e0;
    margin-right: 10px;
}

.user-info button {
    background-color: #8c8d8f;
    color: #e0e0e0;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.user-info button:hover {
    background-color: #554745;
    transform: scale(1.05);
}

.result {
    font-family: 'Teachers', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    color: #b8b3b2;
    padding: 5px;
}

.game-buttons button {
    background-color: #8c8d8f;
    color: #e0e0e0;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    padding: 10px 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

.game-buttons button:hover {
    background-color: #554745;
    transform: scale(1.05);
}

.inline-container button,
.inline-container p {
    display: inline-block; 
    margin-right: 10px; 
}

.safe-click-counter {
    font-family: 'Teachers', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    color: #4e403f;
    padding: 5px;
}

.hints .hint-button {
    background-color: #8c8d8f;
    border: none; 
    border-radius: 50px;
    font-size: 1rem;
    padding: 10px 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

.hints .hint-button:hover {
    background-color: #554745; 
    transform: scale(1.05); 
}

.restart-btn {
    font-size: 2em;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 5px;
}

.restart-btn:hover {
    background-color: #554745;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
}

.board {
    border-collapse: collapse;
    margin: auto auto;
    text-align: center;
}

.cell {
    width: 40px;
    height: 40px;
    border: 2px solid #444; 
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.cell.not-showed {
    background: linear-gradient(to bottom right, #333, #555);
}

.cell.showed {
    background: linear-gradient(to bottom right, #444, #666);
}

.cell:hover {
    background: linear-gradient(to bottom right, #666, #888);
}

.mine-cell {
    background: linear-gradient(to bottom right, #d94848, #b03030);
}

.dark-mode-toggle {
    background-color: #8c8d8f;
    color: #e0e0e0;
    border: none; 
    border-radius: 50px;
    font-size: 1rem;
    padding: 10px 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

.dark-mode-toggle:hover {
    background-color: #554745;
    transform: scale(1.05);
}

footer {
    position:relative;
    bottom: 10px;
    text-align: center;
    width: 100%;
    color: #e0e0e0;
    margin-top: 20px;
}

.hints {
    display: inline;
}