* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #c6dcf5;
    text-align: center;
    align-items: center;

}

h1 {
    margin: 20px 0;
    color: #333;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
}

.board {
    border-collapse: collapse;
    margin: auto auto;
    text-align: center;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #c8c8c8;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    background-color: #e0e0e0;
    transition: background-color 0.3s;

}

.cell.not-showed {
    background-color: #d0d0d0;
}

.cell.showed {
    background-color: hsl(315, 29%, 97%);
}

.cell:hover {
    background-color: #f39c12;
}

.restart-btn {
    font-size: 1.5rem;
    background-color: aliceblue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.restart-btn:hover {
    background-color: #27ae60;
}

footer {
    position: fixed;
    bottom: 10px;
    text-align: center;
    width: 100%;
    color: #666;
}

.hints {
    display: inline;
}